.intro {

}

.intro__inner {
  position: relative;
  display: flex;
  border-bottom: 1px solid fade(@grey, 30%);
  padding-top: 100px;
  padding-bottom: 120px;
  //background: url("../images/designer_photo.png") right bottom no-repeat;
}

.intro__content {
  width: 50%;
}

.intro__subtitle {
  font-weight: 200;
  font-size: 2.13rem;
  color: @black;
}

.intro__title {
  margin-bottom: 5px;
  font-size: 3rem;
  color: @black;
  font-weight: 700;
}

.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: fade(@black, 70%);
}

.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}

